@tailwind base;
@tailwind components;
@tailwind utilities;
 
.menu__item {
  @apply text-[$text] overflow-hidden px-20 py-[7.5rem];
  background: #BDC581;
}
.menu__item:nth-child(2) {
  background: #F8EFBA;
}
.menu__item:nth-child(3) {
  background: #FEA47F;
}
.menu__item:nth-child(even) .menu__link-image {
  animation-direction: reverse;
}
.menu__link {
  @apply text-current relative no-underline relative text-center block;
}
.menu__link-text {
  @apply block text-[11.5vmax];
}
.menu__link-text--solid {
  @apply relative z-[1];
}
.menu__link-text--outline {
  @apply absolute w-full h-full z-[3] left-0 top-0;
  -webkit-text-stroke: 2px #2C3A47;
  -webkit-text-fill-color: transparent;
}
.menu__link-image {
  @apply absolute z-[2] opacity-0 transition-opacity ease-in-out w-[35%] h-auto grayscale-[35%] brightness-[130%] saturate-[65%] contrast-[65%] animate-[floatAndBob_30s_infinite_normal_linear_both_paused] left-2/4 top-2/4;
}
.menu__link:hover .menu__link-image {
  @apply opacity-100 transition-opacity ease-in-out;
  animation-play-state: running;
}

@keyframes floatAndBob {
	0% {
		transform: translate(-50%, -50%) scale(1) rotate(0deg);
	}
	25% {
		transform: translate(-25%, -75%) scale(.85) rotate(5deg);
	}
	50% {
		transform: translate(-75%, -50%) scale(1) rotate(0deg);
	}
	75% {
		transform: translate(-25%, -25%) scale(1.15) rotate(-5deg);
	}
	100% {
		transform: translate(-50%, -50%) scale(1) rotate(0deg);
	}
}